.blog-container-1 {
  display: flex;
  margin-left: 10vw;
  margin-right: 10vw;
  margin-top: 10vw;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.blog-picture {
  width: 40%;
  height: 384.44px;
}

.blog-picture img {
  width: 100%;
  height: 100%;
}

.blog-text {
  background-color: whitesmoke;
  width: 60%;
  padding: 2vw;
}

.blog-text h1 {
  margin-bottom: 20px
}

.blog-container-2 {
  display: flex;
  flex-direction: row-reverse;
  margin-left: 10vw;
  margin-right: 10vw;
  margin-top: 10vw;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.blog-text h2 {
  font-size: 1rem;
  padding-bottom: 2vh;
}

.blog-text h1 {
  font-size: 2rem;
}

.blog-link {
  padding-top: 4vh;
}

.blog-link a {
  text-decoration: none;
}

.blog-list h1 {
  display: flex;
  justify-content: center;
  padding: 5vw;
}

.blog-list ul {
  display: flex;
  justify-content: space-evenly;
}

.blog-list li {
  display: flex;
  flex-direction: column;
  padding: 20px;
  border-left: 2px solid white;
}

.blog-list img {
  width: 10vw;
  height: 10vw;
  border-radius: 50%;
  padding-bottom: 10px;
}

.blog-list a {
  display: flex;
  flex-direction: column;
  text-decoration: none;
}

.blog-list b {
  width: 15vw;
}

@media only screen and (max-width: 800px) {
  .blog-container-1 {
    flex-direction: column;
  }

  .blog-container-2 {
    flex-direction: column;
  }

  .blog-picture {
    width: 100%;
    height: 100%;
  }

  .blog-picture img {
    width: 80vw;
    height: 80vw;
  }

  .blog-text {
    background-color: whitesmoke;
    width: 95%
  
  }

  .blog-text p {
    display: none;
  }

  .blog-text h1 {
    font-size: 25px;
  }

  .blog-list ul {
    flex-direction: column;
  }

  .blog-list img {
    width: 20vw;
    height: 20vw;
  }

  .blog-list li {
    flex-direction: row;
    margin: 0px;
    margin-left: 10px;
  }

  .blog-list b {
    width: 90vw;
  }
}