h1 {
  display: flex;
  justify-content: center;
  padding: 5vw;
}

.form-container {
  display: flex;
  justify-content: center;
  width: 100vw;
  padding: 20px
}

.contact-form {
  background-color: #183437;
  max-width: 100vw;
  padding: 30px;
  border-radius: 5px;
  display: flex;
}

.input-fields {
  display: flex;
  flex-direction: column;
  margin-right: 8%;

}

.input-fields, .message {
  width: 30vw;
}

.input-fields .input, .message textarea {
  margin: 10px 0;
  background: transparent;
  border: 0;
  border-bottom: #c3ab98 2px solid;
  padding: 10px;
  width: 100%;
}

.message textarea {
  height: 178px

}

.btn {
  background: #c3ab98;
  text-align: center;
  padding: 15px;
  border-radius: 5px;
  color: #183437;
  cursor: pointer;
  border: outset
}

.btn:hover {
  background-color: #c3ab98;
  border: inset;
}

@media only screen and (max-width: 500px) {
  .contact-form {
    flex-direction: column;
  }

  .input-fields, .message {
    width: 60vw;
  }

  .form-container {
  padding: 0;
  margin-top: 10px;
  }
}