
.heading-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10vh;
  margin-bottom: 10vh;
}

.heading-container h1 {
  font-size: 3em;
}

.heading-container h2 {
  margin: 10px;
  font-size: 1em
}

.grid-container {
  display: grid;
  margin-left: 10vw;
  margin-right: 10vw;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 3fr 1fr 1fr;
  column-gap: 1vw
}

.grid-container div {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.grid-container a {
  text-decoration: none;
}


.grid-item-picture-1 {
  background-image:url(images/nails.jpg);
  background-size: cover;
  background-position: center;
}

.grid-item-picture-2 {
  background-image:url(images/portfolio.png);
  background-size: cover;
  background-position: center;
}

.grid-item-picture-3 {
  background-image:url(images/coming-soon.jpg);
  background-size: cover;
  background-position: center;
}

.grid-item-text {
  background-color: #183437;
  padding: 1.5vw;
  padding-bottom: 6vh;
  color:  #d9bdc1;
  font-weight: bolder;
}

.grid-item-link {
  padding: 1.5vw;
  background-color: #183437;
}

.grid-item-link a:hover {
  cursor: pointer;
}

.grid-item-link a {
  color: #d9bdc1;
}

.grid-item-link a:vistied { 
  color: whitesmoke;
}

@media only screen and (max-width: 800px) {
  .grid-container {
    grid-template-columns: 1fr;
    align-items: start;
    grid-template-rows: auto;
  }
  
  #item-2 {
    grid-row-start: 4;
    grid-row-end: 5;
  }
  #item-3 {
    grid-row-start: 7;
    grid-row-end: 8;
  }
  #item-4 {
    grid-row-start: 10;
    grid-row-end: 11;
  }
  #item-6 {
    grid-row-start: 5;
    grid-row-end: 6;
  }
  #item-7 {
    grid-row-start: 8;
    grid-row-end: 9;
  }
  #item-8 {
    grid-row-start: 11;
    grid-row-end: 12;
  }

  .grid-item-picture-1 {
    width: 80vw; 
    background-size: cover;
    background-position: top;
    height:40vh; 
  }
    
  .grid-item-picture-2 {
    width: 80vw; 
    background-size: cover;
    background-position: top;
    height:40vh;  
  }

    .grid-item-picture-3 {
      width: 80vw; 
      background-size: cover;
      background-position: top;
      height:40vh;  
    }

  .grid-item-link {
    margin-bottom: 20px;
  }

}

