.resume {
  display: flex;
  justify-content: center;
  margin-top: 10vh;
}

.heading-container {
  margin: 30px
}

.heading-container a {
  text-decoration: none;
}

@media only screen and (max-width: 400px) {
  .resume-image {
    display: none;
  }
  .heading-container {
    height: 20vh;
  }
}


