
* {
  margin: 0;
  padding: 0;
  font-family: 'Oswald', sans-serif;
  color: #183437
}

body {
  background-image: url("images/mountains.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

#wrapper {
  display: flex;
  flex-direction: column;
}

.polygon-header {
 
  background-color: #183437;
  height: 200px;
  width: 100vw;
  clip-path: polygon(0 0, 100% 0, 100% 50%, 50% 100%, 0 50%);
}

.nav {
  display: flex;
  justify-content: center;
  text-align: center;
  height: 70px;
}


.menu {
  width: 70vw;
  display: flex;
  justify-content: space-evenly;
  align-items: flex-end;
  margin: 0;
  padding-left: 10px;
}

.menu a {
  font-family: 'Lato', sans-serif;
  color:  #c3ab98;
}



.nav a {
  text-decoration: none;
  border-top: 2px solid#c3ab98;
  padding-top: 10px
  
}

.menu a:hover {
  border-top: none;
}

label {
  display: none;
}

.diamond-web {
  border: 2px  #c3ab98 solid;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: rotate(45deg);
}

.diamond-mobile {
  border: 2px#c3ab98 solid;
  width: 50px;
  height: 50px;
  display: none;
  justify-content: center;
  align-items: center;
  transform: rotate(45deg);
}

#logo {
  font-family: 'IBM Plex Sans', sans-serif;
  font-size: 2em;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  border: none;
  transform: rotate(-45deg);
}

.diamond-web:hover {
  background-color: #c3ab98;
}

.diamond-web:hover a {
  color: #183437;
}




@media only screen and (max-width: 750px) {
  .menu {
    width: 95%
  }

  .nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-right: 20px;
  }
  
  .menu {
    display: none;
    width: 100%;
  }

  .menu a {
    display: block;
    height: 15px;

  }

  .nav a {
    border: none
  }

  
  label {
    display: block;
    cursor: pointer;
    font-size: 50px;
    float: right;
  }


  #toggle:checked + .menu {
    display: block;
  }

  .diamond-web {
    display: none;
  }
  .diamond-mobile {
    margin: 15px 0 0 15px;
    display: flex;
    
  }
  .copyright {
    padding: 20px;
  }

}

#toggle {
  display: none;
}


footer {
  display: flex;
  flex-direction:column;
  align-items: center;
  justify-content: center;
  background-color: #183437;
  height: 30vh;
  margin-top: 10vw
}

.social-media {
  display: flex;
  justify-content: space-around;
  padding: 20px;
  width: 30vw;
}

.social-media img {
  height: 30px;
  width: 30px;
  padding: 5px
}

.social-media img:hover {
  height: 35px;
  width: 35px;
  padding: 0px;
}





  
