
* {
  margin: 0;
  padding: 0;
}

body {
  background-color: bisque;
}

#wrapper {
  display: flex;
  flex-direction: column;
  background-color: aquamarine;
  overflow-x: hidden;

}

.polygon-header {
  background-color: orangered;
  height: 200px;
  width: 100vw;
  clip-path: polygon(0 0, 100% 0, 100% 50%, 50% 100%, 0 50%);
}

.nav {
  display: flex;
  justify-content: center;
  text-align: center;
  height: 70px;

}


.menu {
  width: 70vw;
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
  margin: 0 
}

.nav a {
  text-decoration: none;
}

label {
  display: none;
}

@media only screen and (max-width: 600px) {
  .menu {
    width: 95%
  }
}

@media only screen and (max-width: 350px) {
  .nav {
    display: block;
    justify-content: flex-end;
    margin-right: 20px;
  }
  
  .menu {
    display: none;
    width: 100%;
  }

  .menu a {
    display: block;
    height: 15px
  }

  
  label {
    display: block;
    cursor: pointer;
    font-size: 50px;
    float: right;
  }


  #toggle:checked + .menu {
    display: block;
    padding-top: 70px;
   
  }

}


#toggle {
  display: none;
}


.main-content {
 height: 100%
}


footer {
  display: flex;
  flex-wrap: wrap;
  flex-direction:column;
  align-items: center;
  justify-content: center;
  background-color: orangered;
  height: 30vh;
  margin-top: 10vw
}

.social-media {
  display: flex;
  justify-content: space-around;
  padding: 20px;
  width: 30vw;
  border-top: 1px solid black
}





  
